# dependencies
/node_modules
/jspm_packages

# typescript build & declaration files
*.tsbuildinfo
*.js
*.js.map
*.d.ts
*.d.ts.map

# typescript test coverage & build output directories
/dist
/build
/coverage

# misc logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Environment
.DS_Store
Thumbs.db
.env
